<main class="main post-page">
    <article class="article-entry">
        <%- page.content %>
    </article>
    <hr color=#e0e1e2 size="1.5">
    <p><font face="宋体" size="4.5" color="#f75357">一个有趣有用爱分享的公众号：JaqenAndroid，好看的人都已经关注啦:D</font></p>
    <img align="center" src="https://raw.githubusercontent.com/zywudev/blog-source/master/image/qrcode_jaqen_android.jpg"/>
    <!-- license  -->
    <% if(theme.copyright.enable === true && page.copyright !== false) { %>
        <div class="license-wrapper">
            <p><%- __('author') %>：<a href="<%- config.url %>"><%- config.author %></a>
            <p>原文链接：<a href="<%- page.permalink %>"><%- page.permalink %></a>
            <p>发表日期：<a href="<%- page.permalink %>"><%- (page.date).format('MMMM Do YYYY, h:mm:ss a') %></a>
            <p>更新日期：<a href="<%- page.permalink %>"><%- (page.updated).format('MMMM Do YYYY, h:mm:ss a') %></a>
            <p>版权声明：<%- theme.copyright.license %></p>
        </div>
    <% } %>
    <!-- paginator  -->
    <ul class="post-paginator">
        <li class="next">
            <% if (page.prev){ %>
                <div class="nextSlogan">Next Post</div>
                <a href= "<%- url_for(page.prev.path) %>" title= "<%- page.prev.title %>">
                    <div class="nextTitle"><%- page.prev.title || '[Untitled Post]' %></div>
                </a>
            <% } %>
        </li>
        <li class="previous">
            <% if (page.next){ %>
                <div class="prevSlogan">Previous Post</div>
                <a href= "<%- url_for(page.next.path) %>" title= "<%- page.next.title %>">
                    <div class="prevTitle"><%- page.next.title || '[Untitled Post]' %></div>
                </a>
            <% } %>
        </li>
    </ul>
    <!-- 评论插件 -->
    <%- partial('_partial/comment/livere') %>
    <%- partial('_partial/comment/disqus') %>
    <%- partial('_partial/comment/gitment') %>
    <!-- partial('_partial/comment/changyan') -->
    <%- partial('_partial/comment/youyan') %>
    <%- partial('_partial/comment/custom') %>
    <%- partial('_partial/comment/valine') %>
    <!-- 评论 -->
</main>